*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: Arial;

}
body{
    display: flex;
    flex-direction:column;
    
    text-align: center;
    background: #00fffa;
    min-height: 100vh;
}
header{
    background: orange;
    color: white;
    padding: 35px;
    text-align: center;
    font-size:2rem;
}
nav{
    background: #0056b3;
    padding: 15px;
    font-family: 2rem;
}
nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
}
.container{
    display: grid;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    text-align: center;
}
content{
background: #f8f9fa;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0,0,0,1);
text-align: center;

}
footer{
    background:#333;
    color:white;
    padding: 15px;
    text-align: center;
}
@media(max-width:768px)
{ header{
    font-size: 1.5rem;
   }
   nav{
    text-align: center;
   }
   .container{
     grid-template-columns: 1fr;
     padding: 10px;
   }
   .content{
    font-size: 1rem;
   }
}
@media(max-width:480px)
{ nav a{
       display: block;
       margin: 10px 0;
       font-size: 1rem;
 }
  footer{
    font-size: 0.9rem;
  }

}